<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <!--//永远以最新的IE版本模式来显示网页-->
  <title>BindLock</title>
  <style media="screen">
    body{
      font-family: "微软雅黑";
      background-color: #fff;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="./css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/base.js"></script>
  <script type="text/javascript" src="./js/common.js"></script>
  <script type="text/javascript" src="./js/web3.min.js"></script>
  <script type="text/javascript" src="./js/materialize.min.js"></script>


  <script type="text/javascript">
    function dateFormat(time){
      time = new Date(time);
      //格式化日，如果小于9，前面补0
      var day = ("0" + time.getDate()).slice(-2);
      //格式化月，如果小于9，前面补0
      var month = ("0" + (time.getMonth() + 1)).slice(-2);
      //拼装完整日期格式
      var date = time.getFullYear()+"-"+(month)+"-"+(day) ;
      return date;
    }
    function bind(){
      if ($("#stid").val() == "") {
        alert("Start time is emtpy. Please fill in it before binding.");
        return ;
      }
      if ($("#etid").val() == "") {
        alert("End time is emtpy. Please fill in it before binding.");
        return ;
      }
      var st = new Date($("#stid").val());
      st = parseInt(st.getTime()/1000) + 4 * 60 * 60;//默认位于+8时区，+4 hours 统一控制为中午12点整
      var et = new Date($("#etid").val());
      et = parseInt(et.getTime()/1000) + 4 * 60 * 60;
      if (st >= et) {
        alert("Check-out date should be greater than check-in date!");
        return ;
      }
      if ($('input[type="checkbox"]')[0].checked == true) {
        $("#stid").val(dateFormat($("#stid").val()));
        $("#etid").val(dateFormat($("#etid").val()));
      }
      var now = new Date().getTime();
      if($("#priceid").val() <= 0)
      {
        alert("Price should be a positive number!");
        return;
      }
      var price = parseInt($("#priceid").val() * 100); // keep two decimal places 精确到0.01ETH
      $("#submitRow").html("");
      $("#submitRow").append('<div class="progress"><div class="indeterminate"></div></div>');
      var event = Flatanywhere.NewSmartLock({
        filter:{
          owner: sessionStorage.userAccount
        }
      });
      Flatanywhere.CreateSmartLock.sendTransaction(price, st, et, now, {from:sessionStorage.userAccount}, function(error, res){
        if (!error) {
          event.watch(function(error, result){
            event.stopWatching();
            console.log("SLID", result.args.SLID);
            console.log("result.addr:",result.address, "userAccount:",sessionStorage.userAccount);
            // 捕捉不到 newDeal
            // var newDeal = Flatanywhere.NewDeal({
            //   filter:{
            //     SLID: result.args.SLID
            //   }
            // });
            // newDeal.watch(function(error,result){
            //   if (!error) {
            //     newDeal.stopWatching();
            //     var msg = result.args.buyerAddr + ' bought your ' + result.args.SLID + ' from ' + result.args.checkInTime;
            //     console.log(msg);
            //     alert(msg);
            //   }
            // });
            setTimeout(function(){
              $('#self0').val(sessionStorage.userAccount);
              $('#SLIDid').val(result.args.SLID);
              $("form")[0].submit();
            }, 3000);
          });
        }
        // $('#priceid, #nicknameid, #ucid').val(""); // empty the input
      });
    }
    function pressEnter(e) {
      if(!e) e = window.event;//火狐中是 window.event
        if((e.keyCode || e.which) == 13){
            bind();
        }
    }
    function checkboxOnclick(checkbox){
      if ( checkbox.checked == true){
        checkbox.value = "show";
        $("#dateRow").removeClass('hide');
      } else {
        checkbox.value = "hide";
        $("#dateRow").addClass('hide');
        $("#stid, #etid").val("");
      }
    }
    function LongQuery(){
      $.ajax({
         type: "GET",//方法类型
         dataType: "json",//预期服务器返回的数据类型
         url: "/Query" ,//url
         timeout: 10000,
         success: function (result) {
             // console.log(result);//打印服务端返回的数据(调试用)
             if (result[0].count > sessionStorage.newDealCount) {
               Materialize.toast("You receive "+(result[0].count-sessionStorage.newDealCount)+" new deals!", 5000);
               sessionStorage.newDealCount = result[0].count;
               if ($("#mylock").find("span").length > 0) {
                 $("#mylock").find("span").html = result[0].count;
               } else {
                 $("#mylock").html('MyLock ' + '<span class="new badge">' + result[0].count + '</span>');

               }
             } else if (sessionStorage.newDealCount != 0) {
               $("#mylock").html('MyLock ' + '<span class="new badge">' + result[0].count + '</span>');
             }
             setTimeout("LongQuery()", 1000);
             return ;
         },
         error : function() {
             console.log("Error in AJAX GET");
         }
       });
    }
    $(document).ready(function(){
      setTimeout(function(){
        if ($("#balanceid").html() == "") {
          // alert("Cannot detect the account balance! Go back to home page now.");
          web3.eth.getBalance(web3.eth.accounts[0],function(err,res){
            if(!err){
              $('#balanceid').html(res.c[0]/10000);
            }
          });
        }
      }, 500);

      $('#userAccount').val(sessionStorage.userAccount);
      $(".dropdown-button").dropdown();
      $(".button-collapse").sideNav();
      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 4 // Creates a dropdown of 15 years to control year
      });
      LongQuery();
    });
  </script>
</head>

<body>
  <!-- Dropdown Structure -->
  <ul id="dropdown-contact" class="dropdown-content">
    <li><a href="mailto:1155107972@link.cuhk.edu.hk">WU ZhuoMing</a></li>
    <li class="divider"></li>
    <li><a href="mailto:1155107977@link.cuhk.edu.hk">CHEN Yu</a></li>
  </ul>
  <ul id="dropdown-profile" class="dropdown-content">
    <li><a href="javascript:void(0)" onclick="alert(sessionStorage.userAccount)"><br>UserAccount<br><br></a></li>
  </ul>
  <!-- Navbar -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">&nbsp;Flatanywhere</a>
      <a href="javascript:void(0)" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="javascript:void(0)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Your account balance"><span id="balanceid"></span>&nbsp;ETH</a></li>
        <li><a href="/MyLock" class="dropdown-button tooltipped" data-position="bottom" data-delay="50" data-tooltip="See My Own Flat" id="mylock">MyLock</a></li>
        <li><a href="/Store" class="dropdown-button tooltipped" data-position="bottom" data-delay="50" data-tooltip="Explore Your Favourite Flat">Store</a></li>
        <li><a class="dropdown-button tooltipped" href="javascript:void(0)" data-position="bottom" data-delay="50" data-tooltip="Developers' Emails" data-activates="dropdown-contact">Contact<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button tooltipped" href="javascript:void(0)" data-position="bottom" data-delay="50" data-tooltip="Your Account Number" data-activates="dropdown-profile">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/MyLock">MyLock</a></li>
        <li><a href="/Store">Store</a></li>
        <li><a href="mailto:1155107972@link.cuhk.edu.hk">WU ZhuoMing</a></li>
        <li><a href="mailto:1155107977@link.cuhk.edu.hk">CHEN Yu</a></li>
        <li><a href="javascript:void(0)" onclick="alert(sessionStorage.userAccount)">UserAccount</a></li>
      </ul>
    </div>
  </nav>
  <!--------------------------------------------------------------------------------------------------------->
  <!-- Body Part -->
  <div style="margin-top:100px;">
  </div>

  <div class="container">
    <div class="switch">
      <label>
        Private
        <input type="checkbox" name="isShown" onclick="checkboxOnclick(this)" value="show" checked>
        <span class="lever"></span>
        Public
      </label>
    </div>

    <div class="row">
      <form class="col s12" accept-charset="UTF-8" method="post">
        <div class="row">
          <!-- Placeholder -->
        </div>
        <div class="row" id="dateRow">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">date_range</i>
            <input id="stid" type="date" name="stname" class="datepicker">
            <label for="stid">Available Since</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">date_range</i>
            <label for="etid">Available Until</label>
            <input id="etid" type="date" name="etname" class="datepicker">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">attach_money</i>
            <input placeholder="e.g. 0.5" id="priceid" type="text" class="validate" name="pricename" pattern="[0-9].?[0-9]{0,2}" onkeyup="this.value=this.value.replace(/[^0-9\.]/g,'')" required>
            <label for="priceid">Price (ETH/day)</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">location_on</i>
            <input id="nicknameid" name="nickname" type="text" placeholder="e.g. Home" onkeydown="pressEnter(event)" required>
            <label for="nicknameid">Address</label>
          </div>
        </div>
        <div class="row" id="submitRow">
            <button class="btn-large waves-effect waves-light right" type="button" onclick="bind()" name="action">BIND
              <i class="material-icons right">link</i>
            </button>
        </div>
        <div class="hide">
          <input id="SLIDid" name="SLIDname" type="text" required>
          <input id="self0" type="text" name="ownername" required>
          <input id="userAccount" type="text" name="userAccount" required>
        </div>
      </form>
    </div>
  </div>
  <br><br><br>
</body>
</html>
