<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <!--//永远以最新的IE版本模式来显示网页-->
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/common.css">
  <link rel="stylesheet" type="text/css" href="./css/pages/index.css">
  <link rel="shortcut icon" href="./favicon.ico"/>
  <link rel="bookmark" href="./favicon.ico"/>
  <style media="screen">
    .btn-lg{
      font-size: 40px;
    }
    .entry{
      cursor: pointer;
      font-size: 500%;
      padding: 0;
      color: #fff;
      border-color: #ddd;
    }
    .logoRow{
      overflow: hidden;
      width: 128px;
      height: 100px;
      background-image:url("./images/roof.png");
    }
    .bg{
      background-image:url("./images/LivingRoom.jpg");
      padding-bottom: 5%;
    }
    @media screen and (max-width: 768px) {
    	.fh5co-hero-intro>div>a{
    		display: block;
    	}
    	.fh5co-hero-intro>img {
    		display: none;
    	}
    	.fh5co-hero-intro>h1{
    		display: block;
    		font-size: 8rem;
    	}
    }

    @media screen and (min-width: 768px) {
    	.fh5co-hero-intro > h1 {
    		font-size: 8rem;
    	}
    	.fh5co-hero-intro>img {
    		display: inline;
    		margin-bottom: 4rem;
    	}
    	.btn-lg{
    		padding: 3rem;
    	}
    }

    @media screen and (min-width: 1200px) {
    	.fh5co-hero-intro > h1 {
    		font-size: 10rem;
    	}
    	.fh5co-hero-intro>img {
    		width: 160px;
    		height: 160px;
    	}
    	.fh5co-hero-intro>div>a{
    		margin-left: 2vw;
    		margin-right: 2vw;
    	}
    	.btn-lg{
    		padding: 3rem;
    	}
    }
  </style>
  <script type="text/javascript" src="./js/vue.js"></script>
  <script type="text/javascript" src="./js/base.js"></script>
  <script type="text/javascript" src="./js/web3.min.js"></script>
  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/common.js"></script>
  <script type="text/javascript" src="./js/bootstrap.min.js"></script>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">HOME</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a>Balance: <span id="balanceid"></span>ETH</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Contact Us
              <b class="caret"></b>
              <%#下三角符号 %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <h4 style="text-align:center">WU ZhuoMing:</h4>
              </li>
              <li><a href="mailto:1155107972@link.cuhk.edu.hk">1155107977@link.cuhk.edu.hk</a></li>
              <li class="divider"></li>
              <li>
                <h4 style="text-align:center">CHEN Yu:</h4>
              </li>
              <li><a href="mailto:1155107977@link.cuhk.edu.hk">1155107977@link.cuhk.edu.hk</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Profile
              <b class="caret"></b>
              <%#下三角符号 %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <p id="currentUser_info"></p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--------------------------------------------------------------------------------------------------------->
  <!-- Body Part -->
  <div style="margin-bottom:100px;">

  </div>

  <div id="fh5co-hero">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <div class="fh5co-hero-wrap">
          <div class="fh5co-hero-intro">
            <img src="./images/roof.png"><h1 style="display: inline">Flatanywhere</h1><br>
            <div id="list">
              <template v-for="(name, index) in object">
                    <a href=javascript::void(0) v-on:click="jump(index)" class="btn btn-outline btn-lg">{{name.message}}</a>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- old logo -->
  <div class="container hidden">
    <div class="bg">
      <!-- <div class="row">
        <div class="logoRow col-md-3 col-md-offset-3">
        </div>
      </div> -->
      <div id="list" class="row">
        <template v-for="(name, index) in object">
          <div class=" entry col-md-6 col-md-offset-3" v-on:click="jump(index)">
              {{name.message}}
          </div>
        </template>
      </div>
    </div>
  </div>

  <form method="post">
    <input id="hidden_state" type="text" name="hidden_state" class="hidden" />
    <input id="userAccount" type="text" name="userAccount" class="hidden" />
  </form>
</body>
<script type="text/javascript" src="./js/pages/Home.js"></script>
</html>
