<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <!--//永远以最新的IE版本模式来显示网页-->
  <title>Home</title>
  <style media="screen">
    body{
      font-family: "微软雅黑";
      background-color: #fff;
    }
    html{
      min-width: 320px;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="./css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/pages/Home.css">
  <link rel="shortcut icon" href="./favicon.ico"/>
  <link rel="bookmark" href="./favicon.ico"/>
  <script src="//instant.page/1.2.1" type="module" integrity="sha384-/IkE5iZAM/RxPto8B0nvKlMzIyCWtYocF01PbGGp1qElJuxv9J4whdWBRtzZltWn"></script>
</head>

<body>
  <!-- Dropdown Structure -->
  <ul id="dropdown-contact" class="dropdown-content">
    <li><a href="mailto:1155107972@link.cuhk.edu.hk">WU ZhuoMing</a></li>
    <li class="divider"></li>
    <li><a href="mailto:1155107977@link.cuhk.edu.hk">CHEN Yu</a></li>
  </ul>
  <ul id="dropdown-profile" class="dropdown-content">
    <li><a href="javascript:void(0)" onclick="alert(sessionStorage.userAccount)"><br>UserAccount<br><br></a></li>
  </ul>
  <!-- Navbar -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">&nbsp;Flatanywhere</a>
      <a href="javascript:void(0)" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="javascript:void(0)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Your account balance"><span id="balanceid"></span>&nbsp;ETH</a></li>
        <li><a onclick="jump(1)" class="dropdown-button tooltipped" data-position="bottom" data-delay="50" data-tooltip="See My Own Flat" id="mylock">MyLock</a></li>
        <li><a onclick="jump(2)" class="dropdown-button tooltipped" data-position="bottom" data-delay="50" data-tooltip="Explore Your Favourite Flat">Store</a></li>
        <li><a class="dropdown-button tooltipped" href="javascript:void(0)" data-position="bottom" data-delay="50" data-tooltip="Developers' Emails" data-activates="dropdown-contact">Contact<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button tooltipped" href="javascript:void(0)" data-position="bottom" data-delay="50" data-tooltip="Your Account Number" data-activates="dropdown-profile">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/MyLock">MyLock</a></li>
        <li><a href="/Store">Store</a></li>
        <li><a href="mailto:1155107972@link.cuhk.edu.hk">WU ZhuoMing</a></li>
        <li><a href="mailto:1155107977@link.cuhk.edu.hk">CHEN Yu</a></li>
        <li><a href="javascript:void(0)" onclick="alert(sessionStorage.userAccount)">UserAccount</a></li>
      </ul>
    </div>
  </nav>
  <!--------------------------------------------------------------------------------------------------------->
  <!-- Body Part -->
  <div class="section no-pad-top">
    <div class="container">
      <div class="row" id="rowholder1">

      </div>
      <div class="row">
        <div class="col s12" style="text-align:center;">
          <img id="logo" src="./images/roof-short.png"><p id="title">&nbsp;Flatanywhere</p><br>
        </div>
      </div>
      <div class="row" id="rowholder2">

      </div>
      <div class="row hide" style="text-align:center">
        <div class="col s8 offset-s2 m4 offset-m4">
          <div href=javascript::void(0) class="btn btn-outline btn-lg">try</div>
        </div>
      </div>
      <div class="row" style="text-align:center;">
        <div class="col s12 m4">
          <a class="waves-effect waves-light btn-large" href=javascript::void(0) onclick="jump(0)"><i class="material-icons left">cloud</i>BIND</a>
        </div>
        <div class="col s12 m4">
          <a class="waves-effect waves-light btn-large" href=javascript::void(0) onclick="jump(1)"><i class="material-icons left">cloud</i>MYLOCK</a>
        </div>
        <div class="col s12 m4">
          <a class="waves-effect waves-light btn-large" href=javascript::void(0) onclick="jump(2)"><i class="material-icons left">cloud</i>STORE</a>
        </div>
      </div>
    </div>
  </div>
  <form method="post">
    <input id="hidden_state" type="text" name="hidden_state" class="hide" />
    <input id="userAccount" type="text" name="userAccount" class="hide" />
  </form>
</body>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/base.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript" src="./js/web3.min.js"></script>
<script type="text/javascript" src="./js/materialize.min.js"></script>
<script type="text/javascript">
  function jump(num) {
    $("#hidden_state").val(num);
    $("form").submit();
  }
  $(document).ready(function(){
    $('#userAccount').val(sessionStorage.userAccount);
    $('.carousel.carousel-slider').carousel({full_width: true});
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
  });
</script>
</html>
